/* config page primary*/
.copyright {
    color: black;
    text-decoration: none;
}

.copyright:hover 
{
     color:#4D4D4D; 
     text-decoration:none; 
     cursor:pointer;  
}

.author {
  color: #ff0000;
  text-decoration: underline;
  
}

.author:hover 
{
   color:#ff0000; 
   text-decoration:underline; 
   cursor:pointer;  
}

.postbg{
background-color: #E9E9E9;
margin-top: 0.8vh;
padding-left: 10px;
padding-right: 10px;
padding-inline: 10px;
padding-block: 2px;
}

.barra{
  padding: 5px;
}

.float-xl-end{
padding-inline: 20px;
}

.blockquote>:last-child {
  margin-bottom: 0;
}
.py-4 {
  padding-top: 1.3rem!important;
  padding-bottom: 0.5rem!important;
}
.h2, h2 {
  font-size: calc(1.325rem + .9vw);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
.h1, h1 {
  font-size: calc(1.375rem + 1.5vw);
}

.figure-img
{
  transition: all 0.5s;
  cursor: pointer;
        opacity:0.5;
}
.figure-img:hover
{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
        opacity:1;
}

.icon {
  transition: transform 0.5s;
}

.icon:hover {
  transform: scale(1.5);
}

.btn-outline-primary {
  --bs-btn-color: #0d6efd;
  --bs-btn-border-color: #0d6efd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0d6efd;
  --bs-btn-hover-border-color: #0d6efd;
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0d6efd;
  --bs-btn-active-border-color: #0d6efd;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0d6efd;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0d6efd;
  --bs-gradient: none;
}
