/* config page index */
.copyright {
    color: black;
    text-decoration: none;
}

.copyright:hover 
{
     color:#4D4D4D; 
     text-decoration:none; 
     cursor:pointer;  
}

.author {
  color: #ff0000;
  text-decoration: underline;
  
}

.author:hover 
{
   color:#ff0000; 
   text-decoration:underline; 
   cursor:pointer;  
}

.postbg{
background-color: #E9E9E9;
margin-top: 0.8vh;
padding-left: 10px;
padding-right: 10px;
padding-inline: 10px;
padding-block: 2px;
}

.barra{
  padding: 5px;
}

.float-xl-end{
padding-inline: 20px;
}

.blockquote>:last-child {
  margin-bottom: 0;
}
.py-4 {
  padding-top: 1.3rem!important;
  padding-bottom: 0.5rem!important;
}
.h2, h2 {
  font-size: calc(1.325rem + .9vw);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
.h1, h1 {
  font-size: calc(1.375rem + 1.5vw);
}

/*
.icon {
  transition: transform 0.5s;
}

.icon:hover {
  transform: scale(1.5);
}
*/



/* loading error 404 page */
.loader { 
  width:500px; 
  margin:0 auto;
  border-radius:10px;
  border:4px solid transparent;
  position:relative;
  padding:1px;
}
.loader:before {
  content:'';
  border:1px solid #fff; 
  border-radius:10px;
  position:absolute;
  top:-4px; 
  right:-4px; 
  bottom:-4px; 
  left:-4px;
}
.loader .loaderBar { 
  position:absolute;
  border-radius:10px;
  top:0;
  right:100%;
  bottom:0;
  left:0;
  background:#fff; 
  width:0;
  animation:borealisBar 2s linear infinite;
}

@keyframes borealisBar {
  0% {
    left:0%;
    right:100%;
    width:0%;
  }
  10% {
    left:0%;
    right:75%;
    width:25%;
  }
  90% {
    right:0%;
    left:75%;
    width:25%;
  }
  100% {
    left:100%;
    right:0%;
    width:0%;
  }
}
